<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./style/home.css">
</head>
<body>
<section id="navigation">

</section>
    
    <section id='home'>
        <div id="home-container">
            <div id='right-col'>
                <div>
                    <img class="img1" src="./image/banner.jpeg" alt='blog-image'>
                </div>
            </div>
            <div class='quotes' style="font-family: Lobster, sans-serif;">
                <div class='dec-holder'>
                    <img src="image/decoration.svg" alt="decoration">
                </div>
                <p>Trying to capture your subtle moments</p>
                <div class='dec-holder'>
                    <img src="./image/decoration.svg" alt="decoration">
                </div>
            </div>
        </div>

        <div id='sc-gallery'>
            <h1>Gallery</h1>
            <div class='line'></div>
            <div id='sc-gal-container'>
                <img src="https://firebasestorage.googleapis.com/v0/b/wedding-stories-images.appspot.com/o/bucket-1%2FDSC_2870.jpg?alt=media&token=96a0d833-0b7c-43c6-a4dc-1e1b79ee9fe4" width="300" height="200">
            </div>
            <a href="/gallery">
                <div id='show-more'>
                    Show More
                </div>
            </a>
        </div>
    </section>

<section id='package'>
   
</section>
 
    <section id='blog'>
       
    </section>

 
    <section id='about'>
       
    </section>
    <section id='contact'>

    </section>
    <section id="footer">

    </section>
    <script src="./script/script.js"> </script>

</body>
</html>
